[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=launch-customization-script
Comment=
Exec=/home/<USER NAME>/customize-virtual-machine-manager-alpine-linux-xfce-installation.sh
RunHook=0
StartupNotify=false
Terminal=true
Hidden=false
